{% load crispy_forms_tags %}
{% load i18n %}


<div class="card mx-auto" style="max-width: 480px;">
  <div class="card-header">
    <h4 class="card-title">
      {% trans "Add drawing"%}
    </h4>
  </div>
  <div class="card-body">
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.title|as_crispy_field }}
      {{ form.dxf|as_crispy_field }}
      {{ form.temp_image|as_crispy_field }}
      <input class="btn btn-primary"
             type="submit"
             value="{% trans 'Add' %}" />
    </form>
  </div>
</div>
