{% load crispy_forms_tags %}
{% load i18n %}

<div class="card-header">
  <h5 class="card-title">
    {% trans "Add GeoData manually to"%}: {{ object }}
  </h5>
</div>
<div class="card-body">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% blocktrans %}
      To insert manually the GeoData, you must know the geolocation of a point on your DXF.
      Click it on the map, or enter it's geographical coordinates.
      If this point is not the WCS origin of the drawing, you must enter it's DXF coordinates.
      Rotation is the angle you need to rotate the drawing to orient it
      correctly to True North (angle in degrees, counter clockwise is positive).
    {% endblocktrans %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <form>
    {% csrf_token %}
    <div class="row">
      <div class="col">
        {{ form.lat|as_crispy_field }}
      </div>
      <div class="col">
        {{ form.long|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{ form.designx|as_crispy_field }}
      </div>
      <div class="col">
        {{ form.designy|as_crispy_field }}
      </div>
    </div>
    {{ form.rotation|as_crispy_field }}
    <button class="btn btn-primary"
            hx-post="{% url 'djeocadengine:drawing_manual' pk=object.id %}"
            hx-target="#nav-card">
      {% trans 'Add GeoData' %}
    </button>
  </div>
</form>
{% include "djeocadengine/includes/map_data.html" %}
