{% load i18n %}
{% load thumbnail %}

<div class="card-header">
  <h4 class="card-title">{% trans "Drawing"%}: {{ object.title }}</h4>
</div>
{% if object.image %}
  <img src="{% thumbnail object.image 480x240 crop %}" class="card-img-top">
{% endif %}
<div class="card-body"
     id="nav-card-body">
  <ul>
    <li>
      <a class="link link-primary"
         hx-get="{% url 'djeocadengine:base_list' %}"
         hx-target="#nav-card"
         hx-push-url="true">
        {% trans "Back to list" %}
      </a>
    </li>
    {% if user.is_authenticated %}
      <li>
        <a class="link link-primary"
           hx-get="{% url 'djeocadengine:drawing_update' pk=object.id %}"
           hx-target="#nav-card">
          {% trans "Modify drawing" %}
        </a>
      </li>
    {% endif %}
    <li>
      <a class="link link-success"
         href="{% url 'djeocadengine:drawing_csv' pk=object.id %}">
        {% trans "Download CSV" %}
      </a>
    </li>
    <li>
      <a class="link link-success"
         href="{% url 'djeocadengine:drawing_download' pk=object.id %}">
        {% trans "Download georeferenced DXF" %}
      </a>
    </li>
    {% if user.is_authenticated %}
      <li>
        <a class="link link-danger"
           hx-get="{% url 'djeocadengine:drawing_delete' pk=object.id %}"
           hx-target="#nav-card-body"
           hx-confirm="{% trans 'Are sure you want to delete this drawing?' %}">
          {% trans "Delete drawing" %}
        </a>
      </li>
    {% endif %}
  </ul>
</div>
{% include "djeocadengine/includes/map_data.html" %}
