{% load crispy_forms_tags %}
{% load i18n %}


<div class="card mx-auto" style="max-width: 480px;">
  <div class="card-header">
    <h4 class="card-title">
      {% trans "Add GeoData to:"%} {{ object.title }}
    </h4>
  </div>
  <div class="card-body">
    <p class="card-text">
      {% blocktrans %}
        Your DXF cannot be geolocated. If you already uploaded a Drawing with equal geolocation,
        click on the Parent button. Otherwise you must manually enter the geolocation.
      {% endblocktrans %}
    </p>
    <button>Parent</button>
    <button>Enter manually</button>
  </div>
</div>
