{% load i18n %}
{% load thumbnail %}

<div class="card-header">
  <h4 class="card-title">{% trans "Drawing"%}: {{ object.title }}</h4>
</div>
{% if object.image %}
  <img src="{% thumbnail object.image 240x240 crop %}" class="card-img-top">
{% endif %}
<div class="card-body">
  <ul>
    <li>
      <a class="link link-primary"
         hx-get="{% url 'djeocadengine:base_list' %}"
         hx-target="#nav-card"
         hx-push-url="true">
        {% trans "Back to list" %}
      </a>
    </li>
    <li>
      <a class="link link-primary"
         href="{% url 'djeocadengine:drawing_update' pk=object.id %}">
        {% trans "Modify drawing" %}
      </a>
    </li>
  </ul>
</div>
{% include "djeocadengine/includes/map_data.html" %}
