{% load i18n %}
{% load crispy_forms_tags %}

<div class="card mx-auto" style="margin-bottom: 20px">
  <div class="card-header">
    {% trans "Update layer" %} {{ object.id }}
  </div>
  <div class="card-body">
    <form>
      {{ form|crispy }}
      <button class="btn btn-primary"
              type="submit"
              hx-post="{% url 'djeocadengine:layer_update' pk=object.id %}"
              hx-target="#layer-{{ object.id }}">
        {% trans "Change Layer" %}
      </button>
      <button class="btn-close"
              title="{% trans 'Dismiss' %}"
              hx-get="{% url 'djeocadengine:layer_detail' pk=object.id %}"
              hx-target="#layer-{{ object.id }}">
      </button>
    </form>
  </div>
</div>
