django>=5.0,<6.0
django-htmx
django-geojson @ git+https://github.com/andywar65/django-geojson@oserror
ezdxf
django-colorfield
pyproj
shapely
nh3
django-template-partials
easy-thumbnails
django-filer
django-crispy-forms
crispy-bootstrap5
